
<div class="container" *ngIf="isAdmin">
  <div class="row">
    <div class="col">
    <h5>Spacs Stocks to be featured on the main list. </h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticker</th>
      <th scope="col">Full Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of stockList; index as idx" class='item-class'>
      <th scope="row">{{idx+1}}</th>
      <td>{{i.ticker}}</td>
      <td>{{i.name}}</td>
      <td><button type="button" class="btn btn-warning btn-sm" (click)="deleteSpac(i._id, i.ticker)">delete</button></td>
    </tr>
  </tbody>
</table>
<!-- <div *ngFor="let i of stockList" class='item-class'>
  {{ i.spac }}
</div> -->
</div>
<div class="col">
    <h5>Click 'insert' to add spac to the stocklist. </h5>
    
    <div class ="form-group row">
      <label for="search" class="col-sm-2 col-form-label">Search</label>
      <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" size=10/>
    </div>
    <table class="table table-dark">
      <thead>
        <tr>
          
          <th scope="col">Ticker</th>
          <th scope="col">Full Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spac of allstocks | searchfilter:searchValue">
          
          <td>{{spac.symbol}}</td>
          <td>{{spac.name}}</td>
          <td><button type="button"class="btn btn-outline-warning btn-sm" (click)="insertSpac(spac.symbol,spac.name)">insert</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

